@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.navlink-active {
    color: #007B8F;
}

.btn-group button {
    background-color: #FFFFFF; 
    border: 1px solid black; 
    padding: 5px 14px; 
    cursor: pointer; 
    float: left; 
	margin-top: 40px;
	margin-bottom: 30px;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; 
	margin-left: 50px;
}

.btn-group button:hover {
    background-color: #add8e6;
}

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
}

.search input {
  width: 1230px;
  height: 32px;
  margin-left: 50px;
  background: #ffffff;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ffffff inset;
}

.search input { text-indent: 32px;}

.search .fa-search { 
margin-left: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}